body {
  background-color: #F8F2ED;
  font-family: sans-serif;
  /* overflow-y: scroll; */
  /* width: 100%; */
  margin: 0 auto;
}

li{
  list-style: none;
}

#mainContainer{
  margin: 20px auto;
}

#selectEntreeContainer{
  display: flex;
  justify-content: center;

}


#selectEntreeHeader{
  height: 50px;
  text-align: center;
}
#selectEntree{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  flex-basis: 53%;
}

.entreeTypes{
  width: 33%;
  margin: 20px;
  text-align: center;
}

#selectIngredientsContainer{
  display: flex;
  justify-content: center;
  margin: 50px;
}

#ingredientsContainer{
  display: flex;
  flex-grow: 1;
}

#ingredientsContainer h4{
  text-align: center;
}

button{
  border-radius: 3px;
  border: none;
  height: 30px;
  cursor: pointer;
}
button p{
  margin: 0;
}
.resetButton{
  min-width: 125px;
  position: absolute;
  background-color: #EE9C49;
  left: 60px;
 
}

.resetButton:hover{
  cursor: pointer;
  /* background-color: #313E52; */
  background-color:#F0A960;

}
.resetButton img{

  width: 10px;
  transform: rotate(90deg);
}
.resetButton p{
  display: inline;
  padding-left: 10px;
}
.currentCategory{
  background-color: #C53730;
  color: #fff;
  border-radius: 3px;
  width: 175px;
}

#ingredientCategoryNav{
  margin-top: 50px;
  font-size: 18px;
}

#ingredientCategoryNav ul{
  padding: 0;
}

#ingredientCategoryNav ul li{
  cursor: pointer;
  padding: 10px;
}

#ingredientListItemsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 30px;
  margin: 100px auto;
}

.ingredientListItem{
  width: 250px;
  margin: 10px;
  text-align: center;
  font-style: italic;
}
.ingredientItemImg{
  width: 50%;
  padding: 10px;
}
.ingredientListItem p{
  margin: 0;
}

.addExtraButton{
  margin: 15px auto;
  background-color:#273242;
  color: #fff;
}

.addExtraButton:disabled{
  background-color:#3C4654;
  color: #fff;
  cursor: default;

}
#finshedEntree{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
}
#finshedEntree button{
 margin: 10px;
}
#orderContainer{
  width: 200px;
  margin-right: 10px;
}
#orderContainer h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.displayOrderBtn, .hideOrderBtn{
  background: none;
  display: none;
}
.displayOrderBtn img,
.hideOrderBtn img{
  width: 20px;
  padding: 5px;
  /* margin: 10px auto 0; */
}
#selectedIngredientsList,
#completedEntreeList{
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}
.selectedIngredientItem{
  padding: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectedIngredientItem p,
.addedExtraIngredient p{
  display: inline;

  /* line-height: 30px; */
}

.addedExtraIngredient{
  padding: 0 0 0 20px;
  font-size: 14px;

}
.addedExtraIngredient{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.removeItem{
  float: right;
  font-size: 12px;
  cursor: pointer;
  height: 20px;
  color: #fff;
  background-color: #C53730;
}
.addSomethingBtn{
  visibility: hidden;
}
.addEntreeToOrder{
  background-color:#4A6C6A;
  color:#fff;
  font-size: 16px;
  /* font-weight: 600; */
  height: 30px;
  width: 175px;
  margin: 0 0 10px 0;
}
.checkout{
  background-color:#4A6C6A;
  color:#fff;
  font-size: 18px;
  /* font-weight: 600; */
  height: 30px;
  width: 100%;
}

.addAnotherEntreeButton, 
.checkoutFinishedEntree{
  background-color:#4A6C6A;
  color:#fff;
  font-size: 16px;
  height: 30px;
  width: 200px;
}

#checkoutContainer{
  position:relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.placeOrder{
  background-color: #C53730;
  color: #fff;
  width: 120px;
  height: 30px;
  font-size: 18px;
}
.placeOrder:hover{

}
.checkoutCompletedEntreeList{

}
.checkoutCompletedEntree{
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  height: 200px;
  padding: 0;
}
.checkoutCompletedEntree li p{
  margin: 5px ;
  /* font-size: 14px; */
}
.checkoutCompletedEntree li p:nth-child(2){
  padding: 0 0 0 25px;
  font-size: 14px;
}
.checkoutAddAnotherEntreeBtn{
  background-color:#4A6C6A;
  color:#fff;
  width: 200px;
  font-size: 18px;
}
#thanksForOrder{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.startANewOrder{
  background-color:#4A6C6A;
  color:#fff;
  width: 200px;
  font-size: 18px;
}

/**********************************/
/*       Media Queries            */
/**********************************/

@media (max-width:  750px) {
  #mainContainer{
    overflow: hidden;
  }
  #selectIngredientsContainer{
    margin: 0 20px;
  }
  #ingredientsContainer{
    flex-direction: column;
    justify-content: center;
  }
  /* #orderContainer{
    transform: translateX(175%);
  } */
 .hideOrderIngredients{
    transform: translateX(175%);
  }
  #orderContainer h3{
    transform: rotate(270deg);
    position: fixed;
    right: 15px;
    top: 50px;

  }
  .displayOrdeIngredients{
    transform: translateX(0%)
  }
  .displayOrderBtn, .hideOrderBtn{
    display: block;
  }
  .hideOrderBtn img{
    transform: rotate(180deg);
  }
  #selectEntree{
    width: 100%;
    margin: 0;
    flex-basis: 100%;
  }
  #ingredientsCategoryNav{
    position: relative;
    left: 50%;
  }
  .entreeTypes{
    width: 100%;
    flex-basis: 100%;
  }
}